<style>
  .button {
		background-color: black;
		border-radius:10px;
		border: 2px solid;
		margin-right: 1px;
		margin-left: 1px;
		margin-top: 1px;
		margin-bottom: 1px;
		border-color: white;
		color: white;
  	width: 60px;
  	height: 60px;
  	font-size: 2em;
  }

  .button:active {
		border: 4px solid;
    transform: translateY(2px);
  }
</style>

<table>
	<tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '1')">1</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '2')">2</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '3')">3</button>
		</td>
	</tr>
	<tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '4')">4</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '5')">5</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '6')">6</button>
		</td>
	</tr>
	<tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '7')">7</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '8')">8</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '9')">9</button>
		</td>
	</tr>
	<tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.appLauncherItem, 'com.webos.app.tvguide')"><span class="glyphicon glyphicon-list"></span></button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, '0')">0</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.appLauncherItem, 'com.webos.app.screensaver')"><span class="glyphicon glyphicon-picture"></span></button>
		</td>
	</tr>
    <tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'CHANNEL_UP')"><span class="glyphicon glyphicon-menu-up"></span></button>
		</td>
		<td>
			<button class="button"></button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'CHANNEL_DOWN')"><span class="glyphicon glyphicon-menu-down"></span></button>
		</td>
    </tr>
	<tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.appLauncherItem, 'com.palm.app.settings')"><span class="glyphicon glyphicon-cog"></span></button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'UP')"><span class="glyphicon glyphicon-triangle-top"></span></button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'HOME')"><span class="glyphicon glyphicon-home"></span></button>
		</td>
	</tr>
	<tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'LEFT')"><span class="glyphicon glyphicon-triangle-left"></span></button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'ENTER')">OK</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'RIGHT')"><span class="glyphicon glyphicon-triangle-right"></span></button>
		</td>
	</tr>
	<tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'BACK')" style="font-size: 1em;">BACK</button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'DOWN')"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'EXIT')" style="font-size: 1em;">EXIT</button>
		</td>
	</tr>
	<tr>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'PLAY)"><span class="glyphicon glyphicon-play"></span></button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'PAUSE')"><span class="glyphicon glyphicon-pause"></span></button>
		</td>
		<td>
			<button class="button" data-ng-click="sendCmd(config.irCodeItem, 'STOP')"><span class="glyphicon glyphicon-stop"></span></button>
		</td>
	</tr>
  <table>
    <tr>
      <td>
        <button class="button" data-ng-click="sendCmd(config.irCodeItem, 'RED')" style="width:45px; height: 45px; font-size:1em; background-color:red;">•</button>
      </td>
      <td>
        <button class="button" data-ng-click="sendCmd(config.irCodeItem, 'GREEN')" style="width:45px; height: 45px; font-size:1em; background-color:green;">••</button>
      </td>
      <td>
        <button class="button" data-ng-click="sendCmd(config.irCodeItem, 'YELLOW')" style="width:45px; height: 45px; font-size:1em; line-height:0; background-color:gold;">•<p></p>••</button>
      </td>
      <td>
        <button class="button" data-ng-click="sendCmd(config.irCodeItem, 'BLUE')" style="width:45px; height: 45px; font-size:1em; line-height:0; background-color:blue;">••<p></p>••</button>
      </td>
    </tr>
	</table>
</table>

